<div id="view">
		<h2>gene_id</h2>
		<div class="posttext">
		<p>　　examples of the input value  are as follows</p>
	
		<table class="help_table">
			<tr>
					<th >Organism</td>
					<th >examples of the input value</td>
			</tr>
			<tr>
					<td class="colm_name">Arabidopsis thaliana</td>
					<td class="example">AT1G03130,AT1G03630,…</td>
			</tr>
			<tr>
					<td class="colm_name" rowspan="4">Chlamydomonas reinhardtii</td>
					<td class="example">ChreCp001,ChreCp002,…</td>
			</tr>
			<tr><td class="example">ChrepMp03,ChrepMp04</td></tr>
			<tr><td class="example">Cre01.g000350,Cre01.g000900,…</td></tr>
			<tr><td class="example">g10003,g10013,…</td></tr>
			<tr>
					<td class="colm_name">Synechosystis sp. PCC6803</td>
					<td class="example">sll0002,sll0005,…</td>
			</tr>
		</table>
		</div>
</div>


