<div id="view">
		<h1>Resources</h1>
<div class="posttext">
		<p>resources of PCoM  are as follows</p>
	
		<table class="resources_table">
			<tr>
					<th >Organism</td>
					<th >Resources</td>
			</tr>
			<tr>
					<td class="organism">Arabidopsis thaliana</td>
					<td class="data">TAIR10 annotation from TAIR <br>( <a href="http://www.arabidopsis.org">http://www.arabidopsis.org/</a> )</td>
			</tr>
			<tr>
					<td class="organism">Physcomitrella patens</td>
					<td class="data">Physcomitrella patens v1.6 annotation from Phytozome <br>( <a href="http://www.phytozome.com/">http://www.phytozome.com/</a> )</td>
			</tr>
			<tr>
					<td class="organism">Chlamydomonas reinhardtii</td>
					<td class="data">Chlamydomonas v5.3 annotation from Phytozome <br>( <a href="http://www.phytozome.com/">http://www.phytozome.com/</a> )</td>
			</tr>
			<tr>
					<td class="organism">Micromonas pusilla CCMP1545</td>
					<td class="data">Micromonas pusilla CCMP1545 annotation from Phytozome <br>( <a href="http://www.phytozome.com/">http://www.phytozome.com/</a> )</td>
			</tr>
			<tr>
					<td class="organism">Phaeodactylum tricornutum v2.0</td>
					<td class="data">Phaeodactylum tricornutum annotation from JGI <br>( <a href="http://genome.jgi-psf.org/Phatr2/Phatr2.home.html">http://genome.jgi-psf.org/Phatr2/Phatr2.home.html</a> )</td>
			</tr>
			<tr>
					<td class="organism">Synechosystis sp. PCC6803</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
			<tr>
					<td class="organism">Prochlorococcus CCMP1986</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
			<tr>
					<td class="organism">Prochlorococcus CCMP1375</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
			<tr>
					<td class="organism">Prochlorococcus CCMP2773</td>
					<td class="data">Cyanobase <br>( <a href="http://genome.kazusa.or.jp/cyanobase">http://genome.kazusa.or.jp/cyanobase</a> )</td>
			</tr>
		</table>
</div>
</div>


